DerivedData/
xcuserdata/
*.xcuserstate
*.xcworkspace
*.lock

Pods/
.build/

*.mlmodelc
*.mlpackage
*.mlproj

*.pt
*.pth
*.onnx
*.h5
*.ckpt
*.pb

*.npy
*.npz
*.csv
*.tsv
*.jsonl
GoogleService-Info.plist